<a href="#!patrons/add">Add a Patron</a>

<div class="pagination" ng-if="patronCtrl.maxPage > 0">
  Page {{ patronCtrl.page + 1 }} / {{ patronCtrl.maxPage + 1 }}
  (Patrons {{ patronCtrl.lowIndex + 1 }} -
  {{ patronCtrl.highIndex + 1 }} / {{ patronCtrl.numPatrons }})
</div>

<div class="per-page-select">
  Patrons per page:
  <a href="" ng-click="patronCtrl.changePerPage(n)"
      ng-repeat="n in [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]">
    {{ n }}
  </a>
</div>

<div class="sort-select">
  <div class="sort-by-select">
    Sort by:
    <!-- HACK using sortBy[0] to add separators -->
    <a href="" ng-click="patronCtrl.changeSortBy(sortBy[1])"
        ng-repeat="sortBy in [['Date created |', 'created'], ['Name |', 'name'], ['ID', 'id']]">
      {{ sortBy[0] }}
    </a>
  </div>
  <div class="sort-dir-select">
    Sorting direction:
    <a href="" ng-click="patronCtrl.changeSortDir('asc')">Ascending</a> |
    <a href="" ng-click="patronCtrl.changeSortDir('desc')">Descending</a>
  </div>
</div>

<ul ng-if="patronCtrl.patrons">
  <li ng-repeat="patron in patronCtrl.patrons">
    <img ng-src="{{ patron.pic }}" alt="{{ patron.name }}'s picture">
    
    <a href="" class="name" ng-click="patronCtrl.toggleShow(patron)">
      {{ patron.name }}
    </a>
    
    <div class="properties" ng-if="patronCtrl.showing.includes(patron)
        && patronCtrl.editing !== patron">
      <div class="property">
        Picture URL: {{ patron.pic }}
      </div>
      <div class="property">
        Patron name: {{ patron.name }}
      </div>
      
      <input type="button" value="Edit" ng-click="patronCtrl.startEdit(patron)">
      <input type="button" value="Close" ng-click="patronCtrl.toggleShow(patron)">
    </div>
    
    <form name="editPatronForm" ng-if="patronCtrl.editing === patron">
      <div class="field">
        <label for="edit-patron-pic">Picture URL:</label>
        <input type="text" id="edit-patron-pic" ng-model="patronCtrl.editPatron.pic">
      </div>
      
      <div class="field">
        <label for="edit-patron-name">Patron name:</label>
        <input type="text" id="edit-patron-name" ng-model="patronCtrl.editPatron.name">
      </div>

      <input type="button" value="Save" ng-click="patronCtrl.saveEdit()">
      <input type="button" value="Delete" ng-click="patronCtrl.delPatron()">
      <input type="button" value="Cancel" ng-click="patronCtrl.abortEdit()">
    </form>
  </li>
</ul>

<nav>
  <a href="#" ng-if="patronCtrl.page > 0" ng-click="patronCtrl.getPatrons(patronCtrl.page - 1)">
    &lt;&lt; Previous
  </a>
  <a href="#" ng-repeat="n in [] | range: patronCtrl.maxPage + 1" ng-if="patronCtrl.maxPage > 0"
      ng-click="patronCtrl.getPatrons(n)">
    {{ n + 1 }}
  </a>
  <a href="#" ng-if="patronCtrl.page < patronCtrl.maxPage"
      ng-click="patronCtrl.getPatrons(patronCtrl.page + 1)">
    Next &gt;&gt;
  </a>
</nav>

<input type="button" value="Delete All Patrons"
  ng-click="patronCtrl.delAll()" ng-if="patronCtrl.numPatrons > 0">