<!-- TODO item covers/images/whatever -->
<!-- TODO should *probably* use more semantic containers and whatnot -->

<div class="item-title">
  {{ showItemCtrl.item.title }} by {{ showItemCtrl.item.author }}
</div>

<div class="properties" ng-show="!showItemCtrl.editing">
  <div class="property">
    Title: {{ showItemCtrl.item.title }}
  </div>
  <div class="property" ng-show="showItemCtrl.item.subtitle !== undefined">
    Subtitle: {{ showItemCtrl.item.subtitle }}
  </div>
  <div class="property">
    Author: {{ showItemCtrl.item.author }}
  </div>
  <div class="property" ng-show="showItemCtrl.item.edition !== undefined">
    Edition: {{ showItemCtrl.item.edition }}
  </div>
  <div class="property">
    Publisher: {{ showItemCtrl.item.publisher }}
  </div>
  <div class="property" ng-show="showItemCtrl.item.pubPlace !== undefined">
    Place of publishing: {{ showItemCtrl.item.pubPlace }}
  </div>
  <div class="property" ng-show="showItemCtrl.item.pubYear !== undefined">
    Year of publishing: {{ showItemCtrl.item.pubYear }}
  </div>
  <div class="property" ng-show="showItemCtrl.item.isbn !== undefined">
    ISBN: {{ showItemCtrl.item.isbn }}
  </div>
  <div class="property">
    Item type: {{ showItemCtrl.item.itemType }}
  </div>
  <div class="property">
    Barcode: {{ showItemCtrl.item.barcode}}
  </div>
  
  <div class="marc-properties">
    MARC:
    <div class="property marc-leader">
      Leader: {{ showItemCtrl.item.marc.leader }}
    </div>
    <div class="control-fields">
      Control fields:
      <div class="control-field" ng-repeat="field in showItemCtrl.item.marc.fields.control">
        {{ field.tag }}: {{ field.value }}
      </div>
    </div>
    <div class="variable-fields">
      Variable fields:
      <div class="variable-field" ng-repeat="field in showItemCtrl.item.marc.fields.variable">
        <div class="property">
          Tag: {{ field.tag }}
        </div>
        <div class="property">
          Indicator 1: {{ field.ind1 }}
        </div>
        <div class="property">
          Indicator 2: {{ field.ind2 }}
        </div>
        <div class="subfields">
          Subfields:
          <div class="subfield property" ng-repeat="subfield in field.subfields">
            ${{ subfield.tag }}: {{ subfield.value }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <input type="button" value="Show Raw MARC" ng-show="!showItemCtrl.showingMarc"
    ng-click="showItemCtrl.showMarc()">
  <input type="button" value="Hide Raw MARC" ng-show="showItemCtrl.showingMarc"
    ng-click="showItemCtrl.hideMarc()">
  
  <pre class="marc-raw" ng-show="showItemCtrl.showingMarc">{{ showItemCtrl.rawMarc }}</pre>
</div>