<!-- TODO item covers/images/whatever -->
<!-- TODO should *probably* use more semantic containers and whatnot -->
<!-- TODO the editing stuff is basically a copy of add-item.html - merge/use template? -->

<div class="item-title">
  {{ showItemCtrl.item.title }} by {{ showItemCtrl.item.author }}
</div>

<div class="properties" ng-show="!showItemCtrl.editing">
  <div class="property">
    Title: {{ showItemCtrl.item.title }}
  </div>
  <div class="property" ng-show="showItemCtrl.item.subtitle !== undefined">
    Subtitle: {{ showItemCtrl.item.subtitle }}
  </div>
  <div class="property">
    Author: {{ showItemCtrl.item.author }}
  </div>
  <div class="property" ng-show="showItemCtrl.item.edition !== undefined">
    Edition: {{ showItemCtrl.item.edition }}
  </div>
  <div class="property">
    Publisher: {{ showItemCtrl.item.publisher }}
  </div>
  <div class="property" ng-show="showItemCtrl.item.pubPlace !== undefined">
    Place of publishing: {{ showItemCtrl.item.pubPlace }}
  </div>
  <div class="property" ng-show="showItemCtrl.item.pubYear !== undefined">
    Year of publishing: {{ showItemCtrl.item.pubYear }}
  </div>
  <div class="property" ng-show="showItemCtrl.item.isbn !== undefined">
    ISBN: {{ showItemCtrl.item.isbn }}
  </div>
  <div class="property">
    Item type: {{ showItemCtrl.item.itemType }}
  </div>
  <div class="property">
    Barcode: {{ showItemCtrl.item.barcode}}
  </div>
  
  <div class="marc-properties">
    MARC:
    <div class="property marc-leader">
      Leader: {{ showItemCtrl.item.marc.leader }}
    </div>
    <div class="control-fields">
      Control fields:
      <div class="control-field" ng-repeat="field in showItemCtrl.item.marc.fields.control">
        {{ field.tag }}: {{ field.value }}
      </div>
    </div>
    <div class="variable-fields">
      Variable fields:
      <div class="variable-field" ng-repeat="field in showItemCtrl.item.marc.fields.variable">
        <div class="property">
          Tag: {{ field.tag }}
        </div>
        <div class="property">
          Indicator 1: {{ field.ind1 }}
        </div>
        <div class="property">
          Indicator 2: {{ field.ind2 }}
        </div>
        <div class="subfields">
          Subfields:
          <div class="subfield property" ng-repeat="subfield in field.subfields">
            ${{ subfield.tag }}: {{ subfield.value }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <input type="button" value="Show Raw MARC" ng-show="!showItemCtrl.showingMarc"
    ng-click="showItemCtrl.showMarc()">
  <input type="button" value="Hide Raw MARC" ng-show="showItemCtrl.showingMarc"
    ng-click="showItemCtrl.hideMarc()">
  
  <pre class="marc-raw" ng-show="showItemCtrl.showingMarc">{{ showItemCtrl.rawMarc }}</pre>
  
  <input type="button" value="Close" ng-click="showItemCtrl.back()">
  <input type="button" value="Edit" ng-click="showItemCtrl.startEdit()">
  <input type="button" value="Delete" ng-click="showItemCtrl.delItem()">
</div>

<div class="properties" ng-show="showItemCtrl.editing">
  <div class="field">
    <label for="edit-item-title">Title:</label>
    <input type="text" id="edit-item-title" ng-model="showItemCtrl.editItem.title">
  </div>
  <div class="field">
    <label for="edit-item-subtitle">Subtitle:</label>
    <input type="text" id="edit-item-subtitle" ng-model="showItemCtrl.editItem.subtitle">
  </div>
  <div class="field">
    <label for="edit-item-author">Author:</label>
    <input type="text" id="edit-item-author" ng-model="showItemCtrl.editItem.author">
  </div>
  <div class="field">
    <label for="edit-item-edition">Edition:</label>
    <input type="text" id="edit-item-edition" ng-model="showItemCtrl.editItem.edition">
  </div>
  <div class="field">
    <label for="edit-item-publisher">Publisher:</label>
    <input type="text" id="edit-item-publisher" ng-model="showItemCtrl.editItem.publisher">
  </div>
  <div class="field">
    <label for="edit-item-pub-place">Place of publishing:</label>
    <input type="text" id="edit-item-pub-place" ng-model="showItemCtrl.editItem.pubPlace">
  </div>
  <div class="field">
    <label for="edit-item-pub-year">Year of publishing:</label>
    <input type="number" id="edit-item-pub-year" ng-model="showItemCtrl.editItem.pubYear">
  </div>
  <div class="field">
    <label for="edit-item-isbn">ISBN:</label>
    <input type="number" id="edit-item-isbn" ng-model="showItemCtrl.editItem.isbn">
  </div>
  <div class="field">
    <label for="edit-item-type">Item type:</label>
    <select id="edit-item-type" ng-model="showItemCtrl.editItem.itemType">
      <option ng-repeat="itemType in [
        'language material',
        'notated music',
        'manuscript notated music',
        'cartographic material',
        'manuscript cartographic material',
        'projected medium',
        'nonmusical sound recording',
        'musical sound recording',
        'two-dimensional nonprojectable graphic',
        'computer file',
        'kit',
        'mixed materials',
        'three-dimensional artifact or naturally occuring object',
        'manuscript language material'
      ]" value="{{ itemType }}">{{ itemType }}</option>
    </select>
  </div>
  <div class="field">
    <label for="edit-item-barcode">Barcode:</label>
    <input type="number" id="edit-item-barcode" ng-model="showItemCtrl.editItem.barcode">
  </div>
  
  <div class="marc-edit">
    MARC:
    <div class="control-fields">
      Control fields:
      <div class="field" ng-repeat="field in showItemCtrl.editItem.marc.fields.control">
        <input type="number" ng-model="field.tag">:
        <input type="text" ng-model="field.value" ng-trim="false">
        
        <input type="button" value="Delete"
          ng-click="showItemCtrl.editItem.marc.fields.control.splice($index, 1)">
      </div>
      <input type="button" value="New Control Field"
        ng-click="showItemCtrl.editItem.marc.fields.control.push({tag: '', value: ''})">
    </div>
    <div class="variable-fields">
      Variable fields:
      <div class="field" ng-repeat="field in showItemCtrl.editItem.marc.fields.variable">
        <label for="tag">Tag:</label>
        <input type="number" id="tag" ng-model="field.tag">
        
        <label for="ind1">Indicator 1:</label>
        <input type="text" id="ind1" ng-model="field.ind1" maxlength="1" ng-trim="false">
        
        <label for="ind2">Indicator 2:</label>
        <input type="text" id="ind2" ng-model="field.ind2" maxlength="1" ng-trim="false">
        
        <div class="subfield" ng-repeat="subfield in field.subfields">
          $<input type="text" ng-model="subfield.tag" maxlength="1">:
          <input type="text" ng-model="subfield.value" ng-trim="false">
          
          <input type="button" value="Delete" ng-click="field.subfields.splice($index, 1)">
        </div>
        
        <input type="button" value="New Subfield"
          ng-click="field.subfields.push({tag: '', value: ''})">
        <input type="button" value="Delete"
          ng-click="showItemCtrl.editItem.marc.fields.variable.splice($index, 1)">
      </div>
      <input type="button" value="New Variable Field"
        ng-click="showItemCtrl.editItem.marc.fields.variable.push(
          {tag: '', ind1: '', ind2: '', subfields: []})">
    </div>
  </div>
  
  <input type="button" value="Save" ng-click="showItemCtrl.saveEdit()">
  <input type="button" value="Cancel" ng-click="showItemCtrl.abortEdit()">
</div>